![](../docs/banner.png)

# Basic Wrangling With Pandas

**Tomas Beuzen, September 2020**

These exercises complement [Chapter 8](../chapters/chapter8-wrangling-basics.ipynb).

## Exercises

### 1.

In this set of practice exercises we'll be again looking at the dataset of consumption and carbon footprints of different foods that we looked at in the last set of practice exercises, which was compiled by [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday).

Let's start by importing pandas with the alias `pd`.

In [1]:
import pandas as pd

### 2.

As a reminder, the dataset has the following columns:

|column      |description |
|:-------------|:-----------|
|country       | Country Name |
|food_category | Food Category |
|consumption   | Consumption (kg/person/year) |
|co2_emmission | Co2 Emission (Kg CO2/person/year) |


Import the dataset as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv")

### 3.

What country consumes the most food per person per year (across all food categories)?

In [3]:
s = df.groupby(by="country")["consumption"].sum()
top = s.idxmax()
top

'Finland'

### 4.

Which food category is the biggest contributor to the above country's consumption total?

In [4]:
idx = df.loc[df["country"].eq(top), "consumption"].idxmax()
top_category = df.loc[idx, "food_category"]
top_category

'Milk - inc. cheese'

### 5.

What country produces the most kg C02 per person per year?

In [5]:
s = df.groupby("country")["co2_emmission"].sum()
top = s.idxmax()
top

'Argentina'

### 6.

Which food category is the biggest contributor to the above country's C02 emissions?

In [6]:
idx = df.loc[df["country"].eq(top), "co2_emmission"].idxmax()
top_category = df.loc[idx, "food_category"]
top_category

'Beef'

### 7.

What food category produces the most C02 per person per year across all countries?

In [7]:

s = df.groupby("food_category")["co2_emmission"].sum()
top_category = s.idxmax()
top_category

'Beef'

### 8.

What food category is consumed the most across all countries per person per year? What food category is consumed the least across all countries?

In [9]:
s = df.groupby("food_category")["consumption"].sum()
top_category = s.idxmax()
print(top_category)

bot_category = s.idxmin()
print(bot_category)

Milk - inc. cheese
Soybeans

### 9.

Make the dataset wide by pivoting on the `food_category` column. You'll end up with a "multi-index" dataframe, with multiple levels of columns.

In [14]:
df.columns

Index(['country', 'food_category', 'consumption', 'co2_emmission'], dtype='object')

In [35]:
df_wide = (
    df.melt(
    id_vars=["country", "food_category"],
    value_vars=["co2_emmission","consumption"],
    var_name="type",
    value_name="value"
        )
    .pivot_table(
        index="country",
        columns=["type", "food_category"],
        values="value")
)

### 10.

Now that the dataset is wide, I want you to answer the same question from Question 5 above: "What country produces the most kg C02 per person per year?". Specifically, I want you to notice that the way we answer the same data analysis question changes depending on the format of the data (wide vs long). You can form your own opinion on which option you prefer - I prefer long data (and remember that many visualization libraries work best with long data too - more on that in DSCI 531). *Hint*: you can index the outer layer of a multi-index column using the same syntax we've seen previously: `df['co2_emmission']`, if you wanted to access an inner index, you'd have to use a tuple: `df[("consumption", "Beef")]`. Read more on multi-indexes (also called "hierarchical indexes") in [Chapter 9](../chapters/chapter9-wrangling-advanced.ipynb).

In [41]:
df_wide['co2_emmission'].sum(axis=1).sort_values().tail(1)

country
Argentina    2172.4
dtype: float64

<hr>
<hr>
<hr>

## Solutions

### 1.

In this set of practice exercises we'll be again looking at the dataset of consumption and carbon footprints of different foods that we looked at in the last set of practice exercises, which was compiled by [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday).

Let's start by importing pandas with the alias `pd`.

In [11]:
import pandas as pd

### 2.

As a reminder, the dataset has the following columns:

|column      |description |
|:-------------|:-----------|
|country       | Country Name |
|food_category | Food Category |
|consumption   | Consumption (kg/person/year) |
|co2_emmission | Co2 Emission (Kg CO2/person/year) |


Import the dataset as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [12]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv"
df = pd.read_csv(url)
df

         country             food_category  consumption  co2_emmission
0      Argentina                      Pork        10.51          37.20
1      Argentina                   Poultry        38.66          41.53
2      Argentina                      Beef        55.48        1712.00
3      Argentina               Lamb & Goat         1.56          54.63
4      Argentina                      Fish         4.36           6.96
...          ...                       ...          ...            ...
1425  Bangladesh        Milk - inc. cheese        21.91          31.21
1426  Bangladesh  Wheat and Wheat Products        17.47           3.33
1427  Bangladesh                      Rice       171.73         219.76
1428  Bangladesh                  Soybeans         0.61           0.27
1429  Bangladesh   Nuts inc. Peanut Butter         0.72           1.27

[1430 rows x 4 columns]

### 3.

What country consumes the most food per person per year (across all food categories)?

In [13]:
df.groupby("country").sum().sort_values(by="consumption").tail(1)

         consumption  co2_emmission
country
Finland       639.79        1464.63

### 4.

Which food category is the biggest contributor to the above country's consumption total?

In [14]:
df.query("country == 'Finland'").sort_values(by="consumption").tail(1)

     country       food_category  consumption  co2_emmission
149  Finland  Milk - inc. cheese       430.76         613.57

### 5.

What country produces the most kg C02 per person per year?

In [15]:
df.groupby("country").sum().sort_values(by="co2_emmission").tail(1)

           consumption  co2_emmission
country
Argentina       429.41         2172.4

### 6.

Which food category is the biggest contributor to the above country's C02 emissions?

In [16]:
df.query("country == 'Argentina'").sort_values(by="co2_emmission").tail(1)

     country food_category  consumption  co2_emmission
2  Argentina          Beef        55.48         1712.0

### 7.

What food category produces the most C02 per person per year across all countries?

In [17]:
df.groupby("food_category").sum().sort_values(by="co2_emmission", ascending=False)

                          consumption  co2_emmission
food_category
Beef                          1576.04       48633.26
Milk - inc. cheese           16350.71       23290.00
Lamb & Goat                    338.02       11837.38
Pork                          2096.08        7419.11
Rice                          3818.77        4886.91
Fish                          2247.32        3588.22
Poultry                       2758.50        2963.16
Wheat and Wheat Products      9301.44        1773.78
Eggs                          1061.29         974.95
Nuts inc. Peanut Butter        537.84         951.99
Soybeans                       111.87          50.35

### 8.

What food category is consumed the most across all countries per person per year? What food category is consumed the least across all countries?

In [18]:
print("Most consumption:")
print(df.groupby("food_category").sum().sort_values(by="consumption", ascending=False).head(1))
print("")
print("Least consumption:")
print(df.groupby("food_category").sum().sort_values(by="consumption", ascending=False).tail(1))

Most consumption:
                    consumption  co2_emmission
food_category
Milk - inc. cheese     16350.71        23290.0

Least consumption:
               consumption  co2_emmission
food_category
Soybeans            111.87          50.35

### 9.

Make the dataset wide by pivoting on the `food_category` column. You'll end up with a "multi-index" dataframe, with multiple levels of columns.

In [42]:
df = df.pivot(index='country', columns='food_category')
df

              consumption                                               \
food_category        Beef   Eggs   Fish Lamb & Goat Milk - inc. cheese
country
Albania             22.50  12.45   3.85       15.32             303.72
Algeria              5.60   8.06   3.74        7.69             141.53
Angola               8.42   1.11  15.24        1.08              12.30
Argentina           55.48  11.39   4.36        1.56             195.08
Armenia             19.66  11.69   4.36        3.02             209.03
...                   ...    ...    ...         ...                ...
Uruguay             29.10  13.14   6.53        8.23             210.54
Venezuela           25.89   5.63   8.34        0.32             117.79
Vietnam              7.44   3.84  26.52        0.14              16.36
Zambia               4.76   3.32   6.20        0.68               9.71
Zimbabwe             7.37   1.75   2.80        0.96              31.90

                                                                       ...  \
food_category Nuts inc. Peanut Butter   Pork Poultry    Rice Soybeans  ...
country                                                                ...
Albania                          4.36  10.88   13.23    7.78     0.00  ...
Algeria                          2.08   0.00    7.42    2.97     0.00  ...
Angola                           2.26   8.89   17.33    8.12     0.52  ...
Argentina                        0.49  10.51   38.66    8.77     0.00  ...
Armenia                          2.55   9.67   13.35    3.18     0.00  ...
...                               ...    ...     ...     ...      ...  ...
Uruguay                          0.95  16.84   27.45   11.50     0.01  ...
Venezuela                        0.35   7.23   39.28   23.39     0.00  ...
Vietnam                          6.28  35.00   12.36  144.56     5.75  ...
Zambia                           5.04   1.66    3.29    3.05     7.30  ...
Zimbabwe                         2.22   2.65    4.97   10.09     0.54  ...

              co2_emmission                                        \
food_category          Eggs   Fish Lamb & Goat Milk - inc. cheese
country
Albania               11.44   6.15      536.50             432.62
Algeria                7.40   5.97      269.30             201.60
Angola                 1.02  24.33       37.82              17.52
Argentina             10.46   6.96       54.63             277.87
Armenia               10.74   6.96      105.76             297.74
...                     ...    ...         ...                ...
Uruguay               12.07  10.43      288.21             299.89
Venezuela              5.17  13.32       11.21             167.78
Vietnam                3.53  42.34        4.90              23.30
Zambia                 3.05   9.90       23.81              13.83
Zimbabwe               1.61   4.47       33.62              45.44

                                                                        \
food_category Nuts inc. Peanut Butter    Pork Poultry    Rice Soybeans
country
Albania                          7.72   38.51   14.21    9.96     0.00
Algeria                          3.68    0.00    7.97    3.80     0.00
Angola                           4.00   31.47   18.62   10.39     0.23
Argentina                        0.87   37.20   41.53   11.22     0.00
Armenia                          4.51   34.23   14.34    4.07     0.00
...                               ...     ...     ...     ...      ...
Uruguay                          1.68   59.61   29.49   14.72     0.00
Venezuela                        0.62   25.59   42.19   29.93     0.00
Vietnam                         11.12  123.88   13.28  184.99     2.59
Zambia                           8.92    5.88    3.53    3.90     3.29
Zimbabwe                         3.93    9.38    5.34   12.91     0.24


food_category Wheat and Wheat Products
country
Albania                          26.44
Algeria                          35.36
Angola                            7.77
Argentina                        19.66
Armenia                          24.91
...                                ...
Uruguay                          20.85
Venezuela                         9.38
Vietnam                           2.00
Zambia                            2.31
Zimbabwe                          5.97

[130 rows x 22 columns]

### 10.

Now that the dataset is wide, I want you to answer the same question from Question 5 above: "What country produces the most kg C02 per person per year?". Specifically, I want you to notice that the way we answer the same data analysis question changes depending on the format of the data (wide vs long). You can form your own opinion on which option you prefer - I prefer long data (and remember that many visualization libraries work best with long data too - more on that in DSCI 531). *Hint*: you can index the outer layer of a multi-index column using the same syntax we've seen previously: `df['co2_emmission']`, if you wanted to access an inner index, you'd have to use a tuple: `df[("consumption", "Beef")]`. Read more on multi-indexes (also called "hierarchical indexes") in [Chapter 9](../chapters/chapter9-wrangling-advanced.ipynb).

In [43]:
df["consumption"].sum(axis=1).sort_values().tail(1)

country
Finland    639.79
dtype: float64